<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Page</title>
    <link rel="stylesheet" href="/static/css/forget.css">
    
    <!-- <script src="forget.js" defer></script> -->
</head>
<body>
    <div class="forget-container">
        <div class="forget-left">
            <h1>Reset Password</h1>
            <form id="forget-form">
                <input type="text" id="username" name="username" placeholder="Username" required>
                <input type="text" id="username" name="username" placeholder="Verification Email" required>
                <input type="password" id="newpassword" name="newpassword" placeholder="Password" required>
                <input type="password" id="confirmpassword" name="confirmpassword" placeholder="Confirm Password" required>
                <button type="submit" class="forget-button">Submit</button>
            </form>
        </div>
        <div class="forget-right">
            <h2>欢迎来到AI辅助供应商导购推荐系统!</h2>
            <p>为您找到最合心意的供应商~</p>
            <a href="/signin" class="login-button-link"><button class="login-button">Login</button></a>
        </div>
    </div>
</body>
</html>
